<!doctype HTML>
<html>
<head>

	<link rel="stylesheet" src="./style.css"/>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
	<script type="text/javascript" src="./script.js"></script>


</head>

<body ng-app="findGitUserApp">

	<div ng-controller="SearchCtrl">
		<input ng-model="foo" id="search"/>
		<button ng-click="callHttp()">Go!</button>
		{{profileData.name}}
		{{profileData.id}}
		<img src="{{profileData.avatar_url}}"/>	
		
		<div ng-repeat="repo in repos">
			<h3>{{repo.name}}</h3>
			<p>{{repo.description}}</p>
			<hr>
		</div>

	</div>



</body>

</html>